# Test Report

## Textual Description of expected functionality

* When the application is started, there should be a welcome message upon booting
then it will run.
* While running, a menu will be shown with 4 options.
  1. sell item (this will give prompt to fill out and list item based on inputs)
  2. display available items (this will show all items in model's list)
  3. search specific item (this will show all items with a matching user input keyword in model's list)
  4. exit (this will stop the running of the program)
* Option 1 will add an item to the list, and options 2 and 3 utilize that list. Therefore,
if option 1 is chosen, then options 2 and 3 should reflect this.
* Option 3 is not case-sensitive and searches for keyword within all fields. The tests 
provided demonstrate both functionalities.


## Proof of described functionality
Choosing option 1:
![IMG-2227.jpg](attachments%20%281%29%2FIMG-2227.jpg)
Filling out info to sell item:
![IMG-2228.jpg](attachments%20%281%29%2FIMG-2228.jpg)
Choosing option 2 and seeing the item we just created:
![IMG-2230.jpg](attachments%20%281%29%2FIMG-2230.jpg)
Choosing option 3 and using a keyword to strike the title field:
![IMG-2233.jpg](attachments%20%281%29%2FIMG-2233.jpg)
Choosing option 3 and using a keyword to strike the description field:
![IMG-2232.jpg](attachments%20%281%29%2FIMG-2232.jpg)
Choosing option 3 and using a keyword to strike the price field:
![IMG-2234.jpg](attachments%20%281%29%2FIMG-2234.jpg)
Choosing option 3 and using a keyword to strike the seller field:
![IMG-2235.jpg](attachments%20%281%29%2FIMG-2235.jpg)
Choosing option 4 and having the application close:
![IMG-2236.jpg](attachments%20%281%29%2FIMG-2236.jpg)
